{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<style type="text/css">
   body { background: #2E372E !important; }
   .navbar-custom {
        color: #2E372E !important;
        background-color: #817B69 !important;
        }
   ::-webkit-scrollbar {
        width: 10px;
        }
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #A5BA93;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
</style>

<body>

<!--    <nav class="navbar navbar-expand navbar-dark bg-light mb-4 border" >-->
    <nav class="navbar navbar-custom navbar-expand navbar-dark mb-4 border">
        <a class="navbar-brand" href="{% url 'hs:index' %}">主页</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.qq.com/sheet/DTEhOSnR3c2hISEFi">有话好好说</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item ml-auto">
                        <span class="navbar-text">你好，{{ user.username }}。</span>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{% url 'users:logout' %}">退出</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{% url 'users:register' %}">注册</a>
                    </li>

                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{% url 'users:login' %}">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container" >
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

</html>