<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汉印文字征</title>
</head>
<body>
    {% extends "hs/base.html" %}

    {% block content %}
<!--    <p>早上卷中午卷晚上卷何时不卷</p>-->
<!--    <p>魏碑班书刻班楷行班还报啥班</p>-->
    {% load static %}
<!--    <img src="{% static '\汉印文字征分列图片\juan.jpg' %}" height=10% width=10%>-->

<!--    <p>这是《汉印文字征》的查询工具</p>-->

    <form method="get" action="/search/">
      {% csrf_token %}
      <input type="search" name='search' placeholder="欢迎来卷" required>
      <button type="submit">卷一个</button>
    </form>

    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for hanzi in hanzis %}
        <li>{{ hanzi.character }} {{ hanzi.component }} {{ hanzi.picurl }}</li>
        <img src="{% static hanzi.picurl %}" height=3% width=3%/>

    {% endfor %}


    {% endblock content %}

</body>
</html>