<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汉印文字征</title>
</head>
<body>
    {% extends "hs/base.html" %}

    {% block content %}
    <p></p>

<!--    <p>这是《汉印文字征》的查询工具</p>-->

    <form method="get" action="/search/">
      {% csrf_token %}
      <input type="search" name='search' placeholder="搜索" required>
      <button type="submit">搜索</button>
    </form>

    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for hanzi in hanzis %}
        <li>{{ hanzi }}</li>
    {% endfor %}





    {% endblock content %}

</body>
</html>