<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>只要卷不死，就往死里卷</title>
</head>



<body>

    {% extends "hs/base.html" %}

    {% block content %}
<!--    <p>早上卷中午卷晚上卷何时不卷</p>-->
<!--    <p>魏碑班书刻班楷行班还报啥班</p>-->
    {% load static %}


    <div class="jumbotron">
        <form method="get" action="/search/">
    <!--      {% csrf_token %}-->
          <input type="search" name='search' placeholder="欢迎来卷" required>
          <button type="submit">卷</button>
        </form>

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

        {% for hanzi in hanzis %}
            <div class="col-auto mb-3">
                <div class="card mb-3 mt-3" style="width: 20rem">
                    <h4 class="card-header"> 字：{{ hanzi.character }} </h4>
                    <div class="card-body">
                        部首：{{ hanzi.component }}
                        简体字：{{ hanzi.simplified }}
                    </div>
                    <img src="{% static hanzi.picurl %}" height=100% width=100%/>
                </div>
            </div>

        {% endfor %}
    </div>





    {% endblock content %}

</body>
</html>